<nav>

   <div class="nav-wrapper">
     <a ui-sref="home" class="brand-logo"><img src="assets/images/logo.png" height="75" width="220"></a>
     <a ui-sref="home" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <div class="nav-text-wrapper">
     <ul class="right hide-on-med-and-down">
       <li><a ui-sref="chat">Chat</a></li>
       <li><a ui-sref="contact">Contact</a></li>
       <li ng-if="!$root.isAuthenticated"><a ui-sref="login" class="btn">Login<i class="material-icons right">person_outline</i></a></li>
       <li ng-if="$root.isAuthenticated"><a ng-click="logout()" class="btn">Logout<i class="material-icons right">person_outline</i></a></li>
     </ul>
     <ul class="side-nav" id="mobile-demo">
       <li><a ui-sref="chat">chat</a></li>
       <li><a ui-sref="contact">Contact</a></li>
       <li><a ui-sref="login">Login</a></li>
     </ul>
     </div>
   </div>

 </nav>
