/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 *{
  /*margin:auto;*/
  /*box-sizing: border-box;*/
  /*padding:0;*/
  /*font-family: 'Oswald';*/
}
ul{
  list-style-type: none;
}
.container{

  width: 90%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*Footer STYLES*/

footer.page-footer {
    padding-top: 5px;
    background-color: #0b2e3a;

    /*margin-top: 0px:*/
}
.container-footer {
    text-align: center;
    margin: auto;
}

/*top navigation STYLES*/
nav ul a {
    font-size: 1.3rem;
}

div.nav-wrapper {
  background-color: #0b2e3a;

}
nav {
height: 100px;

}
.nav-text-wrapper {
padding-top: 24px;
margin-right: 30px;

}
.brand-logo {
margin-top: 10px;
margin-left: 20px;

}
nav ul a:hover {
    background-color: #00A6A6;
}
nav ul a.btn:hover {
  background-color: #DE0000;

}

/*Home View STYLES*/
#index-banner {
background-color: #0b2e3a;
min-height:100vh;

}
div.row.center {
margin-bottom: 0px;

}

#download-button {
background-color: #DE0000;

}
.htext {
  color: white;
}

.type-effect {
  text-align: center;
  color:#fff;
  text-decoration: none;
}
.typewrite {
  color: #fff;
}
.iconbrain {

}

/*Login Page */
.row main.col{
     flex: 1 0 auto;
     float:none;
   }
   center {
     width:100%
   }
   .login-container{
     background: #0b2e3a;
     height:auto;
     min-height:100vh;
     margin-bottom:0;

   }
   .tabs{
     background-color: transparent;
   }
   .tabs .tab a{
     color:grey;
   }
   .tabs .tab a.active{
     color:orange;
   }
   .tabs .tab a:hover{
     color:orange;
   }
   .tabs .indicator{
     background-color:white;
   }
   .loginnew{
     transform:rotateY(180deg);
     backface-visibility:hidden;
     transition:all .4s linear;
   }
   .loginold{
     transform:rotateY(180deg);
     backface-visibility:hidden;
     transition:all .4s linear;
   }

   .input-field input[type=date]:focus + label,
   .input-field input[type=text]:focus + label,
   .input-field input[type=email]:focus + label,
   .input-field input[type=password]:focus + label {
     color: #FF9700;
   }

   .input-field input[type=date]:focus,
   .input-field input[type=text]:focus,
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus {
     border-bottom: 2px solid #1DCCC3;
     box-shadow: none;
   }
   .input-field input[type=password],
   .input-field input[type=email]{
     margin:0;
     color: white;

   }

   /*Chat STYLES*/


   #chatviewmain {
     height:78vh;
     /*height: 100%;*/


   }


div.mainchat.row {
    height: 100%;

}

   div.chat-container {
     height: calc(100% - 100px);
     height: 100%;
    display: flex;
    flex-flow: column nowrap ;
    overflow: scroll;
}

form.chat-input {


    height: 62px;
    background: rgba(0, 0, 0, 0.04);
    overflow: hidden ;
}
div.chat-messages {
  height: 100%;


    overflow: scroll;
    overflow-x: hidden;

    padding-bottom: 40px;

    background: linear-gradient(
        to bottom,
        rgb(122,214,184) 0%,
        rgb(122,214,184) 100%
    );
    background-size: 100% 10px;
    background-repeat: no-repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Chat Messages
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div.angularjs-chat-logo {
    display: inline-block;
    /*background: transparent url(/media/angularjs-chat.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
}
div.chat-header div.angularjs-chat-logo {
    width: 4.0em;
    height: 4.1em;
    position: relative;
    top: 1.3em;
    left: -1em;
    animation: chat-header-intro 2.0s ease-out 0s;
}
div.chat-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    color: rgba(32,40,70,0.8);
    padding-top: 10px;
    padding-bottom: 36px;
    animation: chat-header-intro 2.2s ease-out 0s;
}
div.sent-message {
    float: right;
    clear: both;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 14px;
    font-size: 0.9em;
    font-weight: 400;
    background: rgba(233,234,243,1.0);
    animation: sent-message 0.6s ease-out 0s;
    flex-wrap: wrap ;
    margin-left: 25%;
  }
div.sent-messageleft {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
    display: inline-block;
    color: rgba(32,40,70,0.9);
    padding: 12px;
    border-left: 3px solid #00A6A6;
    font-size: 0.95em;
    font-weight: 400;
    background: rgba(255,255,255,0.9);
    animation: received-message 1.2s ease-out 0s;
    margin-right: 25%;
}
div.sent-message.blank {
  display: none;
}

}

@keyframes chat-header-intro {
    0%   { transform: translate(-100px,0px);                    opacity: 0 }
    42%  { transform: translate(-80px,0px);                     opacity: 0.8 }
    60%  { transform: translate(3px,0px)     scale(0.96,1.04);  opacity: 1 }
    65%  { transform: translate(2px,0px);                       opacity: 1 }
    80%  { transform: translate(-2px,0px);                      opacity: 1 }
    90%  { transform: translate(1px,0px);                       opacity: 1 }
    100% { transform: translate(0px,0px);                       opacity: 1 }
}
@keyframes sent-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(100px,50px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(80px,40px);  opacity: 0.8 }
    60%  { color: rgba(144,134,251,0.3); transform: translate(-3px,-7px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(2px,3px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(-1px,-2px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
@keyframes received-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(-100px,0px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(-80px,0px);  opacity: 0.8 }
    60%  { color: rgba(122,214,184,0.9); transform: translate(3px,0px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.6);    transform: translate(-2px,0px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.8);    transform: translate(1px,0px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
@keyframes send-indicator {
    0%   { transform: scale(0.1);  opacity: 1 }
    30%  { transform: scale(1.0);  opacity: 1 }
    70%  { transform: scale(4.0);  opacity: 0.5 }
    100% { transform: scale(10.0);  opacity: 0 }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
User Input
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
form.chat-input input[type="text"] {
    width: 80%;
    color: rgba(32,40,70,0.9);

    padding: 20px;
    background: transparent;
}

form.chat-input input[type="submit"] {
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    background: url("/assets/newsend-icon.png");
    background-size:cover;
    color: rgba(255,255,255,1.0);
    width: 42px;
    height: 42px;
    overflow: hidden;
}
form.chat-input input[type="submit"].send-icon:focus{
  color: white;
  backgrou
}

form.chat-input input[type="submit"].send-icon {
    background: url("/assets/newsend-icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 7px 8px;

}

form.chat-input input[type="submit"].sending {
    animation: send-indicator 0.1s ease-out 0s;
}
button, input[type="submit"] {
    cursor: pointer;
}

/*=====================
Views Main Conainer
=======================*/

.views-main-container {
   height:auto;
   padding-left: 10px;
   height: 78vh;
   overflow: auto;


}

.inputform-watsonlooktext {
  border-left: 3px solid #00A6A6;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 35px;
  padding: 12px;
  animation: received-message 1.2s ease-out 0s;
  /*height: 10vh;*/

}

#yesbtn {
  background-color: green;
}
#nobtn {
  background-color: #DE0000;
}
/*================
WILLS VIEW SPECIFIC
=================*/
.will-language {
font-family: Georgia, Times, 'Times New Roman', serif;
font-size: 13px;
/*border-bottom: .8px solid black;*/
border-top: .8px solid black;
padding-left: 15px;
padding-right: 15px;

}
/*================
MILITARY VIEW
================*/
.millitary-buttons {
border-bottom: .8px solid black;
padding-top: 40px;
padding-bottom: 20px;

}
.will-head-doc {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
.military-animate {
 animation-delay: 1.3s;
 background-color: #F7F7F7;

}

/*=================
AttorneyReferrel
=================*/
.attorney-animate {
  animation-delay: 1.3s;
  background-color: #F7F7F7;
  margin-top: 10px;
}
.materialize-textarea {
  background-color: #F7F7F7;
}
.att-sub-button {
margin-left: 20px;
margin-bottom: 10px;

}
.att-form {
  margin: 10px;
  padding-top: 15px;
}

/*=================
Children 1 View
=================*/
.childone-animate {

  animation-delay: 1.3s;
  background-color: #F7F7F7;
  margin-top: 10px;
   /*height: 68vh;*/


}
.childone-form {
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.childone-text {
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}

.childq2 {
  padding-left: 20px;
  padding-right: 20px;

}
.childviewonetoptext {
  height: 65px;
}
/*=================
Children 2 View
=================*/
