<div ng-init="typewriter()"class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="htext">
      <h1 id="h1home" class="header center">Watson Lawyer</h1>

    </div>
    <div class="row center">
        <div class="type-effect">

          <img class="iconbrain" src="assets/logo.png"></a>
            <h1>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, im Lucy.", "I can help you create a will", "click get started below to Chat with me!", "" ]'>
        <span class="wrap"></span>
      </a>
    </h1>
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
    <div class="row center">
      <a href="#/chat" id="download-button" class="btn-large waves-effect waves-light #DE0000">Get Started</a>
    </div>
    <br><br>
  </div>

</div>
</div>
