<div ng-init="typewriter()"class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="htext">
      <h1 id="h1home" class="header center">Watson Lawyer</h1>

    </div>
    <div class="row center">
        <div class="type-effect">

          <img class="iconbrain" src="assets/logo.png"></a>
            <h1>
      <a ui-sref="chat" class="typewrite" data-period="2000" data-type='[ "Hi, im Watson Laywer.", "I can help you create a will", "click get started below to Chat with me!", "" ]'>
        <span class="wrap"></span>
      </a>
    </h1>
      <h5 class="header col s12 light">An estate planning application build on IBM Watson AI</h5>
    </div>
    <div class="row center">
      <a ui-sref="chat" id="download-button" class="btn-large waves-effect waves-light #DE0000">Get Started</a>
    </div>
    <br><br>
  </div>

</div>
</div>
