
<div class="inputform-watsonlooktext">At this time we cannot put together a plan for you based upon the complexities of your will. </div>
<div class="inputform-watsonlooktext">If you wish to send a message to an attorney please do so bellow!</div>

<div class="attorney-animate animated fadeIn">
<form class="att-form" >
  <label for="first_name">Message for Attorney</label>
  <textarea name="name" rows="8" cols="80" id="mbox" class="materialize-textarea"></textarea>
  <button class="att-sub-button btn waves-effect waves-light" type="submit" onClick="" name="action">Send
      <i class="material-icons left">send</i>
</form>
</div>
