<div class="inputform-watsonlooktext">Hit submit after you fill out your explanation so you can move, we will make a note for an attorney to review your situation.</div>

<div class="attorney-animate animated fadeIn">
<form class="att-form" >
  <label for="first_name">Explain your situation here. </label>
  <textarea name="name" rows="8" cols="80" id="mbox" class="materialize-textarea"></textarea>
  <button class="att-sub-button btn waves-effect waves-light" type="submit" onClick="" name="action">Send
      <i class="material-icons left">send</i>
</form>
</div>
