<div class="inputform-watsonlooktext">
Please add your Step Children below.
</div>
<div class="animated fadeIn">
<form class="input-field inline">
<div ng-repeat="item in stepnumberOfInputs track by $index" >
  <div class="childname">
    <input placeholder="Name of Child" id="name-of-child-{{$index}}" type="text" ng-model="stepnumberOfInputs[$index].stepChild">
    <!-- <label for="name-of-child-{{$index}}">Name Of Child</label> -->
  </div>
  <div class="childdob input-field inline">
    <input placeholder="Date of Birth" id="date-{{$index}}" class="datepicker" type="text" ng-model="stepnumberOfInputs[$index].stepchilddob">
  </div>
</div>
  <button class="btn waves-effect waves-light" ng-click="stepChildAddInput()" type="button" name="button">+Add Child</button>
  <button class="btn waves-effect waves-light" ng-click="steplogInputs()" type="button" name="button">See Inputs</button>
</form>

</div>
