<div class="inputform-watsonlooktext">
Please add your children below.
</div>
<div class="childreninput animated fadeIn">
<form class="input-field inline">
<div ng-repeat="item in user track by $index" >
  <div class="childname">
    <input placeholder="Name of Child" id="name-of-child-{{$index}}" type="text" ng-model="user[$index].child">
    <!-- <label for="name-of-child-{{$index}}">Name Of Child</label> -->
  </div>
  <div class="childdob input-field inline">
    <input placeholder="Date of Birth" id="date-{{$index}}" class="datepicker" type="text" ng-model="user[$index].dob">
  </div>
  <div class="childdob input-field inline">
    <input id="biological-{{$index}}" type="radio" class="filled-in" value="biological" ng-model="user[$index].childlegalstatus"/>
      <label for="biological-{{$index}}">Biological</label>

      <input id="adopted-{{$index}}" type="radio" class="filled-in" value="adopted" ng-model="user[$index].childlegalstatus"/>
        <label for="adopted-{{$index}}">Adopted</label>

  </div>
</div>

</form>
<br>
<div class="submitbuttonchild">
  <button class="btn waves-effect waves-light" ng-click="addInput()" type="button" name="button">+Add Child</button><br><br>

  <button class="btn waves-effect waves-light" ng-click="submitUserChildren(user)" type="button" name="button">Submit</button>
</div>


</div>
