<div class="inputform-watsonlooktext">
Please add the Name of Person you are wishing to Disinherit.
</div>
<div class="disanimate animated fadeIn">
  <form class="input-field inline" >
    <div class="" ng-repeat="item in user track by $index">


    <input  placeholder="Name of Person to Disinherit" id="disinheritname-{{$index}}" type="text" ng-model="user[$index].disinheritname">

    <input class="datepicker" id="disinheritdob-{{$index}}" type="text"  placeholder="Relationship to You" ng-model="user[$index].disinheritdob">
    </div>

  </form><br>
  <div class="submitbuttonchild">


    <button class="btn waves-effect waves-light" ng-click="disaddInput()" type="button" name="button">+Add Individual</button><br><br>

    <button class="btn waves-effect waves-light" ng-click="disInPerson(user)" type="button" name="button">Submit</button>
  </div>
</div>
