<div class="inputform-watsonlooktext">
Please add the Name of Person you are wishing to Disinherit.
</div>
<div class="animated fadeIn">
<form class="input-field inline">

  <div class="childname">
    <input ng-repeat="item in numberOfInputs track by $index" id="name-of-child"type="text" ng-model="numberOfInputs[$index]">
    <label for="name-of-child">Name Of Child</label>
  </div>
<div class="">
  <div class="childdob input-field inline">
    <input ng-repeat="item in numberOfInputs track by $index" id="dob" type="text" ng-model="numberOfInputs[$index]">
    <label for="dob">Date of Birth</label>
  </div>
  <div class="childdob input-field inline">
    <input type="checkbox" class="filled-in" id="filled-in-bio" checked="checked"  ng-model="numberOfInputs[$index]" ng-repeat="item in numberOfInputs track by $index"/>
      <label for="filled-in-bio">Male</label>
      <input type="checkbox" class="filled-in" id="filled-in-adopt" checked="checked"  ng-model="numberOfInputs[$index]" ng-repeat="item in numberOfInputs track by $index"/>
        <label for="filled-in-adopt">Female</label>

  </div>

</div>
  <button class="btn waves-effect waves-light" ng-click="addInput()" type="button" name="button">+Add Child</button>
  <button class="btn waves-effect waves-light" ng-click="logInputs()" type="button" name="button">See Inputs</button>
</form>

</div>
