<div class="inputform-watsonlooktext">
This is important to understand, please read below and confirm because we will not be able to move forward. You will have to sit down with an attorney to complete your Estate Plan. 
</div>
<br>
<div class="military-animate animated fadeIn">
<div class="will-language">
  <div class="will-head-doc">Powers Clause</div>
  <p>I have served in the Armed Forces of the United States. I therefore request that my personal representative make appropriate inquiries to ascertain whether there are any benefits to which I, my dependents or heirs may be entitled by virtue of any military affiliation. I specifically request that my personal representative consult with a retired affairs officer at the nearest military installation, the Department of Veterans Affairs, and the Social Security Administration.
</p>
</div>
<div class="millitary-buttons">
  <div class="row center">
        <a ui-sref="info" id="yesbtn" class="btn waves-effect waves-light yes-button">YES include</a>
        <a ui-sref="home" id="nobtn" class="btn waves-effect waves-light deny-button">DO NOT include</a>
  </div>

</div>
</div>
