<div class="inputform-watsonlooktext">
This is important to understand, please read below and confirm because if you want to disinherit your spouse you will be done here and need to see an attorney.
</div>
<br>
<div class="military-animate animated fadeIn">
<div class="will-language">
  <div class="will-head-doc">IMPORTANT PLEASE READ</div>
  <p>If you wish to disinherit your spouse, you will need to discuss this further with your attorney. This issue is not handled in this program. Please realize that Arizona provides statutory allowances for your spouse at your death, even if disinherited or legally separated.
</p>
</div>
<div class="millitary-buttons">
  <div class="row center">
        <a ui-sref="info" id="nobtn" class="btn waves-effect waves-light yes-button">I Agree and want to Quit and talk to attorney</a> <br><br>
        <a ui-sref="home" id="yesbtn" class="btn waves-effect waves-light deny-button">Proceed to next question</a>
  </div>

</div>
</div>
