<div class="inputform-watsonlooktext">
  The following paragraph will be inputed in the will, below confirm Yes to add this to the powers clause of your Will No to exclude it.
</div>
<br>
<div class="military-animate animated fadeIn">
<div class="will-language">
  <div class="will-head-doc">Powers Clause</div>
  <p class="military-yes-clause">I have served in the Armed Forces of the United States. I therefore request that my personal representative make appropriate inquiries to ascertain whether there are any benefits to which I, my dependents or heirs may be entitled by virtue of any military affiliation. I specifically request that my personal representative consult with a retired affairs officer at the nearest military installation, the Department of Veterans Affairs, and the Social Security Administration.
</p>
</div>
<div class="millitary-buttons">
  <div class="row center">
        <a ng-click="militaryyes()" id="yesbtn" class="btn waves-effect waves-light yes-button">YES include</a>
        <a ng-click="militaryno()" id="nobtn" class="btn waves-effect waves-light deny-button">DO NOT include</a>
  </div>

</div>
</div>
