<div class="inputform-watsonlooktext">
This is your legal Name and current address. Will use these inputs on the will.
</div>
<div class="military-animate animated fadeIn ">
<div class="will-head-doc">Personal Information</div>
    <form class="input-field" >
      <div class="formpersonal">

          <p>Full Legal Name</p>

        <input type="text" placeholder="First Name" name="personfirst_name" ng-model="user.ufirstName" required />

        <input type="text" placeholder="Middle Name" name="middle_name" ng-model="user.uMiddleName"  />

        <input type="text" placeholder="Last Name" name="last_name" ng-model="user.uLastName" required />

            <p>Other names you use to sign documents.</p>

        <input type="text" placeholder="Other Names" name="last_name" ng-model="user.uOtherLegalNames" />

            <p>Current Address</p>

        <input type="text" placeholder="Address" name="address" ng-model="user.uAddress" />

        <input type="text" placeholder="City" name="city" ng-model="user.uCity" />

        <input type="text" placeholder="County" name="county" ng-model="user.uCounty" />

        <input type="text" placeholder="State" name="state" ng-model="user.uState" />


        <button class=" btn waves-effect waves-light" ng-click="SendData(user)">Submit</button>

    </form>

    <br>

    </div>
</div>
