<div class="">
  <form class="" >
    <input type="number" name="" ng-model="estatevalue.a" ><span>Bank Accounts, CD's, ect..</span><br>
    <input type="number" name="" ng-model="estatevalue.b"><span>Real Esate (EQUITY ONLY)</span><br>
    <input type="number" name=""  ng-model="estatevalue.c"><span>Life Insurance (cash surrender value only; do not include term life insurance here)</span><br>
    <input type="number" name=""  ng-model="estatevalue.d"><span>IRA, 401(k), etc, that have value at your death</span><br>
    <input type="number" name=""  ng-model="estatevalue.e"><span>Vehicles</span><br>
    <input type="number" name=""  ng-model="estatevalue.f"><span>Business Interest:</span><br>
    <input type="number" name=""  ng-model="estatevalue.g"><span>Stocks & Bonds:</span><br>
    <input type="number" name=""  ng-model="estatevalue.h"><span>Pension Benefits that continue after your death; these benefits are paid to:</span><br>
    <input type="number" name=""  ng-model="estatevalue.i"><span>Money owed to you (outstanding notes payable to you):</span><br>
    <input type="number" name=""  ng-model="estatevalue.j"><span>Other money & property</span><br>
    <button class="btn waves-effect waves-light" type="submit" ng-click="calculateAssets(estatevalue)" name="action">Submit
    <i class="material-icons right">Calculate</i>
  </button>
  </form>



</div>
