
<div class="row logincontainer">

  <form>
    <div>
        <label>Username:</label>
        <input type="text" name="username" ng-model="user.email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" ng-model="user.password"/>
    </div>
    <div>
        <input ng-click="login(user)" type="submit" value="Log In"/>
    </div>
    <hr />
    <div>
        Create an Account?
        <input ui-sref="newlogin" type="button" value="Click Here"/>
    </div>
</form>

</div>
